@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
body {
  background: #df7d58;
}
img {
  height: 100vh;
}
.nav {
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: black;
  width: 100%;
  font-size: 2rem;
}
.nav a,
.nav a:visited {
  color: white;
}
h2 {
  font-size: 5rem;
}
.happy-title {
  position: absolute;
  bottom: 26rem;
  right: -4rem;
  color: black;
  font-family: "Pacifico", cursive;
  text-shadow: 2px 2px #df7d58;
}
.blog-title {
  position: absolute;
  bottom: 18rem;
  text-align: center;
  color: black;
  font-family: "Pacifico", cursive;
  line-height: 2.5;
  text-shadow: 2px 2px #df7d58;
}
