@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

img {
  height: 100vh;
}
.nav {
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: black;
  width: 100%;
  font-size: 2rem;
}
.nav a,
.nav a:visited {
  color: white;
}
.happy-title {
  position: absolute;
  bottom: 26rem;
  right: -2rem;
  color: black;
  font-family: "Pacifico", cursive;
  font-size: 5rem;
}
