@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
body {
  background: url(./img/beach-6100209_1920.jpg);
}
img {
  height: 100vh;
}
.nav {
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: black;
  width: 100%;
  font-size: 2rem;
}
.nav a,
.nav a:visited {
  color: white;
}
h2 {
  font-size: 5rem;
}

/*home page*/

.happy-title {
  position: absolute;
  bottom: 26rem;
  right: -4rem;
  color: black;
  font-family: "Pacifico", cursive;
  text-shadow: 2px 2px #df7d58;
}
.blog-title {
  position: absolute;
  bottom: 18rem;
  text-align: center;
  color: black;
  font-family: "Pacifico", cursive;
  line-height: 2.5;
  text-shadow: 2px 2px #df7d58;
}
i {
  color: #f4b343;
}
.smiley-title {
  color: black;
  font-family: "Pacifico", cursive;
  line-height: 2.5;
  text-shadow: 2px 2px #df7d58;
  margin-top: 20rem;
}
.home-btn {
  width: 10rem;
  font-size: 2rem;
  background-color: #f4b343;
  color: black;
  border-radius: 10px 10px;
  margin: 0 auto;
  font-family: "Pacifico", cursive;
}
a,
a:hover {
  color: black;
  text-decoration: none;
}

/*about page*/
.about {
  font-family: "Pacifico", cursive;
  font-size: 2.5rem;
  background-color: rgba(0, 0, 0, 0.445);
  color: white;
  border-radius: 10px 10px;
  text-align: center;
  margin-top: 10rem;
  padding: 0 5rem;
}
.author {
  font-size: 1.5rem;
  margin-left: 20rem;
}
.about button {
  width: 10rem;
  border-radius: 10px 10px;
}
